@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap);

:root{
    --primary: rgba(201, 188, 255, 0.25);
    --light: #eeeeee;
    --dark: #212121;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

html{
    min-height:100%;
    box-shadow: 0 0 10px 2000px rgba(201, 188, 255, 0.25);
    background-size:cover;
}

body{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height:100%;
    background-image: url(https://scontent.fsgn13-4.fna.fbcdn.net/v/t1.15752-9/283440721_499352225313703_1843083441579281092_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=IN1eO-gMCgAAX8iaz-d&_nc_ht=scontent.fsgn13-4.fna&oh=03_AVJ_YtUpYVgWPqgrf0Skc9kPWxqTmVaJ5akHxJkuIf_z3g&oe=62E918ED);
    background-repeat: no-repeat;
    background-size:cover;
}
/*CSS Header*/
header{
    border-bottom: 3px solid var(--primary);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 32px 32px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
}

.ctn{
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    margin: 0 auto;
}

.title{
    width: auto;
    font-weight: 900;
    font-size: 38px;
    letter-spacing: 2px;
    line-height: 0px;
}

.title-box{
    margin-top: 12px;
    margin-left: 5px;
    margin-right: auto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    transition: ease-out 0.3s;
}

.btstyle{
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    word-wrap: nowrap;
    overflow: hidden;
    padding: 0 25px;
    line-height: 2.5;
    height: 54px;
    margin-left: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    transition: ease-out 0.3s;
    position: relative;
    background: url('./../image/heroicons-outline_home.png') -100% 50% no-repeat;

    /* background: #FFFEFE; */
    border: 2px solid #0011AB;
    border-radius: 25px;
    box-shadow: inset 0 0 0 0 #0011AB;
    transition: ease-out 0.3s;
}

.btstyle:hover, .btstyle:focus{
    word-wrap: nowrap;
    overflow: hidden;
    background: url('./../image/heroicons-outline_home_active.png') -100% 50% no-repeat;

    color: #FFFEFE;
    background-color: #0011AB;
    border: 2px solid #0011AB;
    border-radius: 33px;
}
/*End of CSS Header*/

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    position: absolute;
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    overflow: hidden;
    border-radius: 25px;
    background: #414ba569;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 33px;
    background: #0011ab;
}

/*CSS Quote*/
.aquote{
    margin: 10px 50px;
    display: flex;
    justify-content: center;
    min-width: 50%;
    height: auto;

    font-family: 'IM FELL Great Primer';
    font-weight: 400;
    font-size: 40px;
    /* or 200% */
    align-self: auto;
    text-align: center;
    transition: ease-out 0.3s;
}
/*End of CSS Quote*/

/*CSS Mainbox*/
.mainbox{
    position: relative;
    width: 400px;
    height: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0px;
    transition: all 0.3s ease-in-out;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
/*End of CSS Mainbox*/

.verifybox{
    margin: 0 30px;
    width: 400px;
    position: relative;
    display: flex;
    background-color: #00000000;
    justify-content: center;
    margin-bottom: 5px;
}
.verifybox input[type="tel"]{
    margin: 0;
    order: 1;
    padding-right: 0;
    display: block;
    outline: none;
    background-color: #00000000;
    appearance: none;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-right: 0;
    z-index: 1;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    transition: all 0.3s ease-in;
    border-right: #00000000;
    width: 100%;
}
.verifybox .sendcodebutton{
    margin:0;
    right: 0;
    position: relative;
    order: 2;
    width: 68px;
    cursor: pointer;
    align-self: flex-end;
    background: url('./../image/SWPProject-Sendcode.png') 70% 50% no-repeat;

    /* background: #FFFEFE; */
    border-left: 0;
    border-radius: 0px 25px 25px 0px;
    transition: all 0.3s ease-out;
}
.verifybox .sendcodebutton:focus, .verifybox .sendcodebutton:hover{
    cursor: pointer;
    background: url('./../image/SWPProject-Sendcode_active.png') 60% 50% no-repeat;

    /* background: #FFFEFE; */
    border-left: 0;
    border-radius: 0px 25px 25px 0px;
    transition: all 0.3s ease-out;
}



.logintitle{
    width: auto;
    font-weight: 800;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}

.mainbox form{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forgotpwlink{
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease-out;
}
.forgotpwlink:hover,.forgotpwlink:focus{
    background-color: #0011AB;
    color: #FFFEFE;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    transition: all 0.3s ease-out;
}

.supportbtn{
    width: fit-content;
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    border-radius: 25px;
    transition: all 0.3s ease-out;
}
.supportbtn:hover, .supportbtn:focus{
    background-color: #0011AB;

    color: #FFFEFE;
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
    transition: all 0.3s ease-out;
}

.inputinfo{
    position: relative;
    display: block;
    width: 336px;
    height: 54px;
    margin: 15px 30px;
    padding: 0px 20px;
    appearance: none;
    text-align: center;
    box-shadow: inset 0 0 0 0 #0011AB;
    background-color: #00000000;
    border: 2px solid #0011AB;
    border-radius: 25px;
}

.inputinfo::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.3;
}
input:focus {
    outline-color: #0011AB;
}

input[type=button]{
    display: block;
    font-weight: 700;
    font-size: 20px;
    width: 120px;
    height: 54px;
    padding: 0 24px;
    text-align: center;
    margin: 0 140px;
    appearance: none;
    box-shadow: inset 0 0 0 0 #0011AB;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #0011AB;
    border-radius: 25px;
    transition: all 0.3s ease-out;
}

input[type=button]:hover, input[type=button]:focus{
    color: #FFFEFE;
    background-color: #0011AB;
    border: 2px solid #0011AB;
    border-radius: 33px;
    transition: all 0.3s ease-out;
}

.support{
    width: 100%;
    position: relative;
    align-items: center;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.googlelog{
    width: 100%;
    display: block;
    margin: 20px;
    text-align: center;
}
.g-signin2{
    margin: 0 0 20px 0;
    display: block;
}

/*CSS for Footer*/
footer{
    clear: both;
    position: relative;
    margin-top: 100px;
    border-top: 3px solid var(--primary);
    bottom: 0;
    width: 100%;
    padding: 32px 32px;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 0px;
}

.credits{
    text-align: center;
    display: flex;
    width: auto;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: all ease-in-out 0.3s;
}

.credits a{
    color: var(--dark);
    text-decoration: none;
    display: block;
    box-sizing: border-box;
    min-width: auto;
    padding: 12px 25px;
    height: 54px;
    position: absolute;
    right: 20px;
    transition: ease-out 0.3s;
    z-index: 1;
}

.credits a:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    opacity: 0;
    content: "";
    border-radius: 33px;
    background-image:
            url(https://scontent.fsgn13-4.fna.fbcdn.net/v/t1.15752-9/283440721_499352225313703_1843083441579281092_n.png?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=IN1eO-gMCgAAX8iaz-d&_nc_ht=scontent.fsgn13-4.fna&oh=03_AVJ_YtUpYVgWPqgrf0Skc9kPWxqTmVaJ5akHxJkuIf_z3g&oe=62E918ED);
    background-repeat: no-repeat;
    background-size: cover;
}

.credits a:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}
/*End of CSS footer*/


@media (max-width: 1400px){

}

@media (max-width: 1100px){

}

@media (max-width: 800px) {
    .contentbox{
        justify-content: center;
        display: block;
    }
    .credits{
        text-align: left;
        justify-content: flex-start;
        transition: all ease-in-out 0.3s;
    }
}

@media (max-width: 710px){
    .title-box{
        margin-left: 20px;
        font-weight: 100;
        font-size: 15px;
        transition: linear 0.3s;
    }
    .aquote{
        font-weight: 100;
        font-size: 20px;
        transition: linear 0.3s;
    }
    .credits{
        font-weight: 100;
        font-size: 15px;
        transition: ease-in 0.3s;
    }
    .credits a{
        padding: 16px 20px;
        height: 54px;
    }
}

@media (max-width:610px) {
    .btstyle{
        text-indent: 100%;
        word-wrap: nowrap;
        overflow: hidden;
        min-width: max-content;
        width: auto;
        padding: 0px;

        background: url('./../image/heroicons-outline_home.png') 52% 40% no-repeat;
        /* background: #FFFEFE; */
        background-size: 60%;
        transition: ease-out 0.3s;
    }
    .btstyle:hover, .btstyle:focus{
        text-indent: 100%;
        word-wrap: nowrap;
        overflow: hidden;
        background-size: 65%;
        background-image: url('./../image/heroicons-outline_home_active.png');
        background-position: 52% 40%;
    }
    .credits{
        font-weight: 100;
        font-size: 11px;
        transition: ease-in 0.3s;
    }
    .credits a{
        padding: 16px 20px;
        height: 54px;
    }
}